.consultation {
  padding: 100px 0 92px 0;
  background: url("../img/bg/bg2.jpg") center (center/cover) no-repeat;
  * {
    color: $white;
  }
  &__descr {
    margin-top: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  }
  .error {
    border: 1px solid $red;
  }
  label.error {
    color: $white;
    border: none;
    text-align: center;
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .consultation {
    // min-height: 500px;
    padding: 70px 0 65px 0;
  }
}

@media (max-width: 640px) {
  .consultation {
    &__descr {
      font-size: 18px;
    }
  }
}
